# Bibliotecas utilizadas

In [1]:
import pandas as pd
import numpy as np

# Carregando os arquivos para a análise

In [2]:
dados_compras_file = 'dados_compras.json'

In [3]:
df_compras = pd.read_json(dados_compras_file, orient = 'records', encoding = 'utf-8')
df_compras.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

In [4]:
#Alterando o nome da coluna "Item ID" para "Item_ID" e da coluna "Nome do Item" para "Nome_do_Item" para evitar futuros conflitos

df_compras.rename(columns = {'Item ID': 'Item_ID', 'Nome do Item': 'Nome_do_Item'}, inplace = True)

# Informações sobre os consumidores

In [5]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Idade           780 non-null int64
Item_ID         780 non-null int64
Login           780 non-null object
Nome_do_Item    780 non-null object
Sexo            780 non-null object
Valor           780 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 27.5+ KB

# Análise geral de compras

In [6]:
#Quantidade de itens comprados um única vez
itens_exclusivos = df_compras['Nome_do_Item'].unique()
itens_exclusivos.size

179

In [7]:
#Preço médio de compras
print('R$ %.2f' % round(df_compras['Valor'].mean(), 2))

R$ 2.93

In [8]:
#Quantidade total de compras
quantidade_total_compras = df_compras.shape[0]
quantidade_total_compras

780

In [9]:
#Rendimento total
rendimento_total = df_compras['Valor'].sum()
rendimento_total

2286.33

# Informações demográficas por gênero

In [10]:
#Porcentagem e contagem de compradores do sexo masculino
quant_compras_masc = list(df_compras['Sexo']).count('Masculino')
porc_compras_masc = quant_compras_masc/quantidade_total_compras

print("Porcentagem de compradores masculinos: %.2f %%" % porc_compras_masc)

Porcentagem de compradores masculinos: 0.81 %

In [11]:
#Porcentagem e contagem de compradores do sexo feminino
quant_compras_femi = list(df_compras['Sexo']).count('Feminino')
porc_compras_femi = quant_compras_femi/quantidade_total_compras

print("Porcentagem de compradoras femininas: %.2f %%" % porc_compras_femi)

Porcentagem de compradoras femininas: 0.17 %

In [12]:
#Porcentagem e contagem de compradores de sexo não divulgado
quant_compras_ND = list(df_compras['Sexo']).count('Outro / Não Divulgado')
porc_compras_ND = quant_compras_ND/quantidade_total_compras

print("Porcentagem de compradores do sexo não divulgado: %.2f %%" % porc_compras_ND)

Porcentagem de compradores do sexo não divulgado: 0.01 %

# Análise de compras por gênero

In [33]:
#Número de compras de cada gênero
df_compras['Quantidade_de_Compras'] = 0
num_compras_genero = df_compras.groupby('Sexo', as_index = False)['Quantidade_de_Compras'].count()
num_compras_genero

                    Sexo  Quantidade_de_Compras
0               Feminino                    136
1              Masculino                    633
2  Outro / Não Divulgado                     11

In [35]:
df_compras.drop(columns = ['Quantidade_de_Compras'], inplace = True)

In [36]:
#Preço médio de compra de cada gênero
media_compras_generos = df_compras.groupby('Sexo', as_index = False)['Valor'].mean()
media_compras_generos

                    Sexo     Valor
0               Feminino  2.815515
1              Masculino  2.950521
2  Outro / Não Divulgado  3.249091

In [37]:
#Valor total de compra de cada gênero
valor_total_genero = df_compras.groupby('Sexo', as_index = False)['Valor'].sum()
valor_total_genero

                    Sexo    Valor
0               Feminino   382.91
1              Masculino  1867.68
2  Outro / Não Divulgado    35.74

In [72]:
#Compras por faixa etária e gênero
#Será usado o parâmetro do IBGE, Jovens de 0 a 19 anos, Adultos de 20 a 59 anos e Idosos com 60 ou mais
jovens = list(filter(lambda x : x <= 19, df_compras['Idade']))
adultos = list(filter(lambda x : (x >= 20) & (x <= 59), df_compras['Idade']))
idosos = list(filter(lambda x : x >= 60, df_compras['Idade']))

colunas = ['Idade', 'Valor']
df_idade_valor = df_compras[colunas]

df_jovens = df_idade_valor[df_idade_valor['Idade'] <= 19]
df_adultos = df_idade_valor[(df_idade_valor['Idade'] >= 20) & (df_idade_valor['Idade'] <= 59)]
df_idosos = df_idade_valor[df_idade_valor['Idade'] >= 60]

In [70]:
#JOVENS
print("Quantidade de jovens que compraram: %i" % len(jovens))
print("Média de valor comprado por jovens: R$ %.2f" % df_jovens['Valor'].mean())
print("Item de maior valor comprado por um jovem: R$ %.2f" % df_jovens['Valor'].max())

Quantidade de jovens que compraram: 196
Média de valor comprado por jovens: R$ 2.89
Item de maior valor comprado por um jovem: R$ 4.95

In [73]:
#ADULTOS
print("Quantidade de adultos que compraram: %i" % len(adultos))
print("Média de valor comprado por adultos: R$ %.2f" % df_adultos['Valor'].mean())
print("Item de maior valor comprado por um adulto: R$ %.2f" % df_adultos['Valor'].max())

Quantidade de adultos que compraram: 584
Média de valor comprado por adultos: R$ 2.94
Item de maior valor comprado por um adulto: R$ 4.95

In [65]:
#IDOSOS
print("Quantidade de idosos que compraram: %i" % len(idosos))
print("Média de valor comprado por idosos: R$ %.2f" % df_idosos['Valor'].mean())
print("Item de maior valor comprado por um idoso: R$ %.2f" % df_idosos['Valor'].max())

Quantidade de idosos que compraram: 0
Média de valor comprado por idosos: R$ nan
Item de maior valor comprado por um idoso: R$ nan

## Top 5 principais compradores